
<body>
  <div class="container">
    <h3>About this Application</h3>

    <table class="table text-center">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="images/cosmos-db-logo.png" height='130' alt="Azure Cosmos DB logo">
            &nbsp;
            <img src="images/nodejs_logo.png" height='50' alt="Node.js logo">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/ts-logo-round-512.png" height='100' alt="TypeScript logo">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/openai-logomark.png" height='100' alt="OpenAI logo">
            &nbsp;
            <img src="images/cognitive-search1.png" height='120' alt="Azure Cognitive Search logo">
            &nbsp;
            <img src="images/01-symbol_blue-docker-logo.png" height='80' alt="Docker logo">
         </td>
        </tr>
      </tbody>
    </table>
    <p></p>
    <p>

    <h4>Highlights</h4>
    <ul>
      <li>Intended for both demonstration purposes, and also as a working <strong>starter app</strong> to accelerate application development</li>
      <li>This web application is implemented in <strong>Node.js and TypeScript</strong></li>
      <li>It uses the <strong>Azure JavaScript SDK</strong> and <strong>azu-js</strong> NPM packages to interact with <strong>Azure Cosmos DB and other Azure PaaS services</strong></li>
      <li>The azu-js NPM package builds upon the Azure JavaScript SDK, and is also implemented in <strong>TypeScript</strong></li>
      <li>It uses the popular <strong>Express</strong> JavaScript web framework - for both UIs and Microservices</li>
      <li>Developed with Visual Studio Code and <strong>GitHub Copilot</strong> - a highly productive dev environment</li>
      <li>Deployable as a <strong>Docker container</strong> - to Docker compose, <strong>Azure Container Instances, Azure Container Apps, Azure Kubernetes Service</strong></li>
      <li>This application can also be used <strong>to explore Cosmos DB and Azure</strong> in a programming language agnostic way</li>
    </ul>

    <hr>
    <h4>Implementation Details</h4>
    <p>
    This app is built with the following <strong>modern tech stack</strong>, using popular Azure PaaS services:
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th width="40%"></th>
          <th></th>
          <th width="7%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Node.js </strong></td>
          <td>https://nodejs.org/en</td>
          <td><a class="link-secondary" href="https://nodejs.org/en<" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>TypeScript</strong></td>
          <td>https://www.typescriptlang.org/</td>
          <td><a class="link-secondary" href="https://www.typescriptlang.org/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>Express</strong> Web Framework</td>
          <td>https://expressjs.com/</td>
          <td><a class="link-secondary" href="https://expressjs.com/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>EJS HTML Templates</td>
          <td>https://ejs.co/</td>
          <td><a class="link-secondary" href="https://ejs.co/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>Visual Studio Code with GitHub Copilot</strong></td>
          <td>https://code.visualstudio.com/blogs/2023/03/30/vscode-copilot</td>
          <td><a class="link-secondary" href="https://code.visualstudio.com/blogs/2023/03/30/vscode-copilot" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>Docker</td>
          <td>https://www.docker.com/</td>
          <td><a class="link-secondary" href="https://www.docker.com/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>Azure Cosmos DB</strong></td>
          <td>https://learn.microsoft.com/en-us/azure/cosmos-db/</td>
          <td><a class="link-secondary" href="https://learn.microsoft.com/en-us/azure/cosmos-db/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>Azure OpenAI</strong></td>
          <td>https://learn.microsoft.com/en-us/azure/ai-services/openai/</td>
          <td><a class="link-secondary" href="https://learn.microsoft.com/en-us/azure/ai-services/openai/" target="_blank">link</a></td>
        </tr>
        <tr>
          <td><strong>Azure Cognitive Search</strong></td>
          <td>https://learn.microsoft.com/en-us/azure/search/</td>
          <td><a class="link-secondary" href="https://learn.microsoft.com/en-us/azure/search/" target="_blank">link</a></td>
        </tr>
      </tbody>
    </table>

    <hr>
    <h4>Links</h4>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="40%"></th>
          <th></th>
          <th width="7%"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Github repo for this web app</td>
          <td>https://github.com/cjoakim/azure-cosmos-db-ts-web</td>
          <td><a class="link-secondary" href="https://github.com/cjoakim/azure-cosmos-db-ts-web" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>Public DockerHub image for this web app</td>
          <td>https://hub.docker.com/repository/docker/cjoakim/azure-cosmos-db-ts-web-prod</td>
          <td><a class="link-secondary" href="https://hub.docker.com/repository/docker/cjoakim/azure-cosmos-db-ts-web-prod" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>azu-js at NPM</td>
          <td>https://www.npmjs.com/package/azu-js</td>
          <td><a class="link-secondary" href="https://www.npmjs.com/package/azu-js" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>GitHub repo for azu-js</td>
          <td>https://github.com/cjoakim/azu-js</td>
          <td><a class="link-secondary" href="https://github.com/cjoakim/azu-js" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>Azure SDK for JavaScript/TypeScript</td>
          <td>https://github.com/Azure/azure-sdk-for-js</td>
          <td><a class="link-secondary" href="https://github.com/Azure/azure-sdk-for-js" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>Visual Studio Code</td>
          <td>https://code.visualstudio.com</td>
          <td><a class="link-secondary" href="https://code.visualstudio.com" target="_blank">link</a></td>
        </tr>
        <tr>
          <td>GitHub Copilot</td>
          <td>https://github.com/features/copilot</td>
          <td><a class="link-secondary" href="https://github.com/features/copilot" target="_blank">link</a></td>
        </tr>
      </tbody>
    </table>
  
    <hr>
    <h4>Data Attribution</h4>
    <p>
      <a class="link-secondary" href="http://seanlahman.com/download-baseball-database/" target="_blank">Sean Lahman Baseball Database</a>
      is used by this repository, under the 
      <a class="link-secondary" href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons License</a>.
    </p>

    <hr>
    <h4>Architecture</h4>
    <table class="table text-center">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img src="images/architecture.png" width="80%" alt="architecture diagram">
         </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>
  </div>
</body>
