
<body>
<div class="container">
<h3>Logon</h3>

<p></p>

<form method="post">
  <div class="mb-3">
    <label for="user_id" class="form-label">User ID</label>
    <input type="text" class="form-control" id="user_id" name="user_id">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p></p>
<h5 class="text-danger"><%= message %></h5>

<br>
<br>
</div>
</body>

<script>

</script>
